.about-page
  position: relative
  width: 100vw
  // height: 100vh
  margin-top: 20px
.about-main
  padding: 80px 40px 40px 40px
  h1, h3, h4
    text-align: right
    color: inherit
    margin: 20px 0
  h3, h4
    font-family: Roboto
    font-weight: 300
    letter-spacing: 1px
  h4
    margin: 50px 0
    line-height: 40px
  mark
    font-family: inherit
    padding: 2px
    font-size: 0.8em
    color: inherit
@media screen and (max-width: 426px)
  .about-main
    h3
      font-size: 1.1em
      margin-bottom: 15px
    h4
      margin: 35px 0
      line-height: 30px

@media screen and (max-width: 376px)
  .about-page
    .about-main
      h3
        font-size: 1.5em
      h4
        font-size: 1.4em
// @media screen and (max-width: 320px)
//   html, body
//     font-size: 10px
